.addCash {
    background: var(--gray-background-color);
    padding: 40px 0 100px;
}
.search {
    background: #fff;
    padding: 10px;
    width: 80%;
    margin: 0 auto 20px;
}

.search > input {
    border: none;
    background: none;
    width: 80%;
    font-size: 1em;
}
.search > input:focus {
    outline: none;
    border: none;
}

/* .addPortfolioForm {
    background: #fff;
    width: 80%;
    padding: 25px 65px;
    margin: 0 auto;
}

.addPortfolioForm > div:not(.submitBtn) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.addPortfolioForm > div > *:first-child {
    flex: 0 0 200px;
    font-weight: 500;
}
.addPortfolioForm > div > *:last-child {
    flex: 0 0 70%;
} */

@media screen and (max-width: 800px) {
    /* .addPortfolioForm {
        width: 90%;
        padding: 12px 15px;
    }

    .addPortfolioForm > div > *:first-child {
        flex: 0 0 50px;
        font-weight: 500;
    }
    .addPortfolioForm > div > *:last-child {
        flex: 0 0 80%;
    } */
}

@media screen and (max-width: 500px) {
    /* .addPortfolioForm {
        width: 95%;
        padding: 12px 15px;
    }
    .addPortfolioForm > div > *:first-child {
        flex: 0 0 50px;
        font-weight: 500;
    }
    .addPortfolioForm > div > *:last-child {
        flex: 1;
        justify-content: flex-end;
    } */
    .amount > input {
        width: 70%;
    }
    .date > input {
        width: 80%;
    }
}