.addCash {
    background: var(--gray-background-color);
    padding: 40px 0 100px;
}
.search {
    background: #fff;
    padding: 10px;
    width: 80%;
    margin: 0 auto 20px;
}

.search > input {
    border: none;
    background: none;
    width: 80%;
    font-size: 1em;
}
.search > input:focus {
    outline: none;
    border: none;
}
