.header {
    background: var(--main-background-color);
    padding: 0 50px;
    justify-content: space-between;
}
.mobileHeaderContainer {
    display: none;
}
.logoContainer > * {
    margin: 0;
    padding: 0;
}
.logoContainer span {
    margin-left: 12px;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
}
.navbar * {
    margin: 0;
    padding: 0;
}
.navbar > a.tab > .indicator {
    content: '';
    position: absolute;
    top: 93%;
    left: 0;
    background: var(--main-foreground-color);
    width: 100%;
    height: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar > * {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative
}

.resourcesTab > img {
    margin-left: 7px;
}

.navbar > a {
    padding: 0 10px;
    margin: 0 3px;
    color: #ffffffb3;
    text-decoration: none;
}

.dropdownBtn {
    position: relative;
    cursor: pointer;
}
.dropdownBtn:focus-within .dropdown {
    opacity: 1;
}
.dropdownBtn > * {
    margin: 0 4px;
    display: inline-block;
}
.dropdownBtn > .userFullName {
    color: #ffffffb3;
    text-decoration: none;
}

.dropdown {
    position: absolute;
    top: 80%;
    background: #fff;
    color: var(--text-color);
    border: 1px solid var(--main-background-color);
    padding: 40px 10px 20px;
    width: 80%;
    display: block;
    opacity: 0;
    transition: all 0.3s ease-in;
    border-radius: 10px;
    z-index: 20;
    clip-path: polygon(0% 7%, 80% 7%, 88% 0%, 96% 7%, 100% 7%, 100% 100%, 0% 100%, 0% 0%);
}
.dropdown li {
    padding: 8px;
    width: 100%;
    list-style: none;
}
.dropdown li:hover {
    background: #eee;
}
/* There's no links... yet */
.dropdown a {
    text-decoration: none;
    color: #ccc;
}
.dropdown .logoutBtn {
    color: red;
}

.upgradeButton {
    border: none;
    background: #ffffff1a;
    color: #ffffffb3;
    padding: 10px 12px;
    border-radius: 5px;
}

@media screen and (max-width: 950px) {
    .header {
        display: none;
    }
    .mobileHeaderContainer {
        display: block;
    }
}