
/* 
    STYLING FOR THE HEADER
*/
header {
    /* The height makes the header jump up on mobile when the input is active (when the keyboard pops up) */
    /* height: 100vh; */
    padding-bottom: 30px;
    margin: 0;
    background: var(--main-background-color);
    position: relative;
    /* overflow-y: auto; */
    /* setting "position: relative" affects the Icon component in the js file */
}


header nav {
    width: 100%;
    padding: 20px 85px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


nav .logo {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}
nav .logo > * {
    margin-right: 5px;
}
nav .logo img {
    object-position: center;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    header nav {
        display: block;
        padding: 20px 40px 0;
    }
    nav.logo {
        width: 200px;
        margin-right: auto;
    }
    nav button {
        display: none !important;
    }
}

.landing-page {
    width: 100%;
    margin-top: 200px; /* Use margin-top of 200px*/
    /* overflow-y: auto; */
}
/* Image overlay affects the text */
.landing-page > h1,
.landing-page > p,
.landing-page > form {
    position: relative;
    z-index: 20;
}

/* Overlay Styling */
.landing-page > img.img-overlay {
    width: 100%;
    position: absolute;
    top: 15%;
}
.landing-page > .small-overlay,
.landing-page > .mobile-view {
    display: none;
}
.landing-page .mobile-view,
.landing-page .desktop-view {
    width: 100%;
    position: absolute;
    top: 20%;
}
.landing-page .desktop-view {
    top: 18%;
}
.landing-page .assets-img {
    display: block;
    width: 100%;
}

.headline-container {
    width: 900px;
    margin: 0 auto;
}

.landing-page > h1 {
    font-size: 3.5rem;
    width: 600px;
    /* width: 70%; */
    font-weight: 700;
    color: var(--main-foreground-color);
    margin: 0 auto;
    text-align: center;
}

.landing-page > p {
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--main-foreground-color);
    width: 810px;
    /* width: 90%; */
    margin: 40px auto;
    line-height: 40px;
    text-align: center;
}

.landing-page form {
    width: 810px;
    /* width: 90%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
}

.landing-page form > input {
    flex: 3;
    justify-self: flex-start;
    display: block;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    padding-left: 25px;
    color: #706c6c;
    font-size: 1.15rem;
    height: 58px;
}

.landing-page form > input:focus {
    border: 5px solid var(--secondary-background-color);
    outline: none;
}

.landing-page form > input::placeholder {
    color: #c2b5b5;
}

.landing-page form > input:focus::placeholder {
    color: #706c6c;
}

.landing-page form > button {
    flex: 1;
    padding: 20px 0;      
}

@media screen and (max-width: 900px) {
    header {
        padding-bottom: 60px;
    }
    .landing-page > img.small-overlay,
    .landing-page > .mobile-view {
        display: block;
    }
    .landing-page > img.big-overlay,
    .landing-page > .desktop-view {
        display: none;
    }
    .landing-page  {
        padding-top: 70px;
    }
    .landing-page > img.img-overlay {
        top: 25%;
    }
    .landing-page > h1 {
        font-size: 2.0rem;
        margin-top: 20px;
        line-height: 60px;
        word-spacing: 1px;
        width: 80%;
    }
    .landing-page > p {
        font-size: 1.0rem;
        width: 80%;
        margin: 40px auto;
        line-height: 30px;
    }
    .landing-page form {
        width: 100%;
        display: block;
        padding-top: 15px;
        margin: 0px auto;
    }
    .landing-page form > input {
        width: 90%;
        margin: 20px auto;
        height: 58px;
        padding-left: 25px;
    }
    .landing-page form > button {
        width: 70%;
        margin: 30px auto 0;
        padding: 20px 0;      
    }
    
    .landing-page > * {
        display: block;
        margin-top: -70px;
    }
}
/* For short screens */
@media screen and (max-width: 500px) {
    nav .logo > img {
        width: 15px;
    }
    nav .logo {
        margin-left: -20px;
        font-size: 1.3rem; 
    }
    .landing-page  {
        margin: 0;
        padding-top: 120px;
    }
    .landing-page > h1 {
        font-size: 1.5rem;
        width: 90%;
        line-height: 35px;
    }
    .landing-page > p {
        font-size: 1.0rem;
        width: 90%;
        margin: 20px auto;
        line-height: 25px;
    }
    .landing-page form {
        width: 100%;
        display: block;
        padding: 0;
        margin: 50px auto;
    }
    .landing-page form > input {
        width: 90%;
        margin: 20px auto;
    }
    .landing-page form > button {
        width: 70%;
        margin: 30px auto;
        padding: 15px 0;      
    }
}

.logo-container {
    width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
    position: relative;
}

.left-logo-1 {
    bottom: 20%;
}
.left-logo-2 {
    bottom: 63%;
    left: 9%;
}
.left-logo-3 {
    bottom: 98%;
    left: 25%;
}

.right-logo-1 {
    left: 92%;
    bottom: 58%;
}
.right-logo-2 {
    left: 84%;
    bottom: 102%;
}
.right-logo-3 {
    left: 68%;
    bottom: 137%;
}

.logo-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
    END OF STYLING FOR THE HEADER
*/