.headerContainer {
    min-height: 100vh;
    background: var(--main-background-color);
}

.headerContainer > nav {
    justify-content: space-between;
    padding: 18px 50px;
    height: 10vh;
}

.landing {
    background: url('./images/landing-page-mask.png') center no-repeat;
    background-size: cover;
    height: 90vh;
    padding-top: 60px;
}
.landing > h1 {
    color: #fff;
    font-weight: 400;
    word-spacing: 5px;
    font-family: 'DM Serif Display', serif;
    font-size: 2.7em;
    width: 43%;
    line-height: 60px;
    text-decoration: underline;
    text-align: center;
    margin: 0 auto;
}

.landing > p {
    width: 43%;
    color: #ccc;
    font-size: 1.15em;
    line-height: 30px;
    text-align: center;
    margin: 20px auto 0;
}
.landing > button {
    width: 200px;
    display: block;
    margin: 30px auto 50px;
    padding: 20px auto;
    border: 1px solid #ccc;
}
.landing > img {
    display: block;
    margin: -80px auto 0;
    position: relative;
    width: 90%;
    animation: bounce 1.5s infinite ease-out;
}
@keyframes bounce {
    0% {
        top: 0px;
    }
    50% {
        top: 3px;
    }
    100% {
        top: 0;
    }
}

.mainContent {
    margin-top: 300px;
}
.mainContent > * {
    margin: 0 auto;
}

.section_one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 90%;
    height: 630px;
    margin: auto;
    position: relative;
}
.section_one > *:not(.section_one > img.acheeUnderlayLogo) {
    z-index: 30;
}
.section_one > img.acheeUnderlayLogo {
    position: absolute;
    top: -40px;
    right: 0%;
}
.title {
    width: 70%;
}
.title > div {
    position: relative;
}
.title > div > span {
    position: absolute;
    width: 7px;
    background: var(--main-background-color);
    height: 100%;
}
.title > div > h3 {
    line-height: 40px;
    color: var(--heading-text-color);
    font-weight: 400;
    font-size: 2em;
    text-transform: capitalize;
    margin-left: 20px;
    font-family: 'DM Serif Display', serif;
}
.title > p {
    color: var(--text-color);
    padding-left: 20px;
    line-height: 30px;
}

.features {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 100%;
}
.features > li {
    margin-top: 35px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.features > li > span {
    background: #F9F6FF;
    color: var(--main-background-color);
    font-weight: 700;
    padding: 10px;
    border-radius: 50%;
    margin: 0 50px 0 0;
}
.features > li h3 {
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
    font-size: 1.5em;
    color: var(--heading-text-color)
}
.features > li p {
    margin-top: 10px;
    line-height: 30px;
    color: var(--text-color);
}

.mobile.financeImg {
    display: none;
}
.desktop.financeImg {
    display: block;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background: #F9F6FF;
    width: 60%;
}

/* 
    SECTION TWO - HOW TO START TRACKING YOUR PORTFOLIO WITH ACHEE
*/
.section_two {
    padding: 100px 0;
    width: 90%;
    position: relative;
}
.section_two > *:not(.section_two > img.acheeUnderlayLogo) {
    z-index: 30;
}
.section_two > img.acheeUnderlayLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section_two > h2 {
    width: 40%;
    margin: 0 auto;
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 1.7em;
    text-align: center;
    color: var(--heading-text-color);
    position: relative;
}
.section_two > h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    background: var(--main-background-color);
    width: 100px;
    height: 5px;
    transform: translateX(-50%);
}
.steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    grid-gap: 50px 60px;
    margin-top: 50px;
    padding: 20px 30px;
}
.steps > * {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.steps > * > div {
    margin-left: 20px;
}
.steps h3 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    color: var(--heading-text-color);
}
.steps p {
    line-height: 30px;
    color: var(--text-color);
}
.stepOne {
    grid-column: 1 / 2;
}
.stepTwo {
    grid-column: 2 / 3;
    margin-left: auto;
}
.stepThree {
    grid-column: 1 / 3;
    width: 50%;
    margin: 0 auto;
}
/* 
    END OF SECTION TWO
*/


/* 
    SECTION THREE - ACHEE USEFUL FEATURES
*/
.section_three {
    background: #F9F6FF;
    width: 100%;
    padding: 50px 70px;
    justify-content: space-between;
}
.section_three > div {
    flex: 0 0 45%;
}
.sectionThreeTitle > div {
    position: relative;
}
.sectionThreeTitle > div > span {
    position: absolute;
    width: 7px;
    background: var(--main-background-color);
    height: 100%;
}
.sectionThreeTitle > div > h3 {
    line-height: 40px;
    color: var(--heading-text-color);
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
    font-size: 2em;
    text-transform: capitalize;
    margin-left: 20px;
}
.sectionThreeTitle > p {
    color: var(--text-color);
    line-height: 30px;
}
.section_three ul {
    margin: 0;
    padding: 0;
}
.section_three li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 25px auto;
}
.section_three li > * {
    display: inline-block;
}
.section_three li div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #E6DDFF;
}
.section_three li p {
    margin: 0;
    width: 86%;
    color: var(--text-color);
    line-height: 30px;
}
/* 
    END OF SECTION THREE
 */ 

.section_four {
    width: 100%;
    background: #200E32;
    color: #fff;
    position: relative;
}
.section_four > *:not(.section_four > img) {
    z-index: 30;
}
.section_four > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    padding: 70px 0 50px;
    width: 85%;
    margin: auto;
}
.section_four > div:first-child {
    border-bottom: 1px dashed var(--main-background-color);
}
.section_four > div > * {
    padding: 0 40px;
}
.section_four > div > h5 {
    font-size: 1.5em;
}
.section_four > div p {
    line-height: 25px;
}
.newsAndResources {
    border-right: 1px dashed var(--main-background-color);
    border-left: 1px dashed var(--main-background-color);
}

.sectionFourTitle > h2 {
    position: relative;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 400;
    font-family: 'DM Serif Display', serif;
}
.sectionFourTitle > h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    height: 100%;
    width: 7px;
    background: var(--main-background-color);
}

.section_four > img {
    position: absolute;
    top: 0;
    left: 0;
}

/* 
    END OF SECTION FOUR
*/

/* 
    SECTION FIVE
*/
.section_five {
    width: 70%;
    margin: 120px auto;
    background: #200E32;
    border-radius: 15px;
}

.section_five > div {
    width: 100%;
    padding: 50px 30px;
    background: url('./images/newsletter-underlay.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.section_five h2 {
    font-family: 'DM Sans Display', serif;
    /* font-weight: 400; */
    font-size: 2.2em;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}

.section_five h2 > span {
    color: var(--main-background-color);
    font-family: inherit;
}

.section_five p {
    line-height: 30px;
    color: #fff;
    font-size: 1.2em;
    margin: 30px 0 0 0;
    text-align: center;
}

.section_five .emailContainer {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 20px auto 0;
    background: #fff;
    padding: 3px 0;
}
.emailContainer > input {
    border: none;
    height: auto;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    padding-left: 25px;
    font-size: 1.1em;
}
.emailContainer > button {
    padding: 15px 0px;
    background: #200E32;
    flex: 0 0 25%;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-left: 20px;
    margin-right: 3px;
    font-size: 1.1em;
    transition: all .1s ease-in;
}
.emailContainer > button:hover {
    background: #200e32b9;
}

@media screen and (max-width: 900px) {
    .headerContainer {
        min-height: auto;
    }
    .landing {
        height: 50vh;
    }
    .landing > h1 {
        word-spacing: 5px;
        font-family: 'DM Serif Display', serif;
        font-size: 1.4em;
        width: 90%;
        margin: 0px auto 10px;
        line-height: 40px;
    }
    
    .landing > p {
        width: 90%;
        font-size: 1em;
        line-height: 30px;
        text-align: center;
        margin: 20px auto;
    }
    .landing > button {
        display: none;
        width: 200px;
    }
    .landing > img {
        display: block;
        margin: 15px auto 0;
        width: 90%;
    }
    .mainContent {
        margin-top: 250px;
    }
    .section_one {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        width: 95%;
        height: auto;
        margin: auto;
    }

    .section_one > * {
        width: 100%;
    }
    .title {
        grid-row: 1 / 2;
    }
    .title > div > h3 {
        line-height: 35px;
        width: 70%;
        font-size: 1.4em;
    }
    .title > p {
        line-height: 25px;
        padding: 0;
    }
    
    .features {
        padding: 0;
        grid-column: 1 / 2;
        grid-row: 2 / 3;    
    }
    .features > li {
        display: block;
    }
    .features > li > span {
        margin-bottom: 25px;
        display: inline-block;
    }
    .features > li h3 {
        font-size: 1.2em;
    }
    .desktop.financeImg {
        display: none;
    }
    .mobile.financeImg {
        display: block;
        background: #F9F6FF;
    }
    .mobile.financeImg > img {
        width: 80%; 
        display: block;
        margin: 0 auto;
    }

    .section_two > h2 {
        width: 95%;
        font-size: 1.4em;
    }
    .section_two > h2::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -15px;
        background: var(--main-background-color);
        width: 100px;
        height: 5px;
        transform: translateX(-50%);
    }
    .steps {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        width: 100%;
        grid-row-gap: 20px;
        margin-top: 50px;
        padding: 0;
    }
    .steps > * {
        grid-column: 1 / 2;
        margin: 0;
        display: block;
    }
    .steps > * > div {
        margin: 0;
    }
    .steps > * > img {
        width: 50px;
        height: 50px;
    }
    .steps p {
        line-height: 30px;
    }
    .stepOne {
        grid-row: 1 / 2;
    }
    .stepTwo {
        grid-row: 2 / 3;
    }
    .stepThree {
        grid-row: 3 / 4;
        /* Cos i set a width in the desktop view */
        width: 100%;
    }

    .section_three {
        background: #F9F6FF;
        display: block;
        padding: 30px 10px;
        width: 95%;
    }
    .sectionThreeTitle > div > h3 {
        font-size: 1.4em;
    }
    .sectionThreeTitle > p {
        color: var(--text-color);
        line-height: 30px;
    }
    .section_three li {
        list-style: none;
        display: block;
        margin: 35px auto;
    }
    .section_three li > div {
        margin-bottom: 15px;
    }
    .section_three li p {
        width: 100%;
    }
    .section_three > img {
        display: none;
    }
    
    .section_four > div {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
        width: 95%;
        padding: 30px 0;
        border: none;
    }
    
    .section_four > div h5 {
        font-weight: 400;
        font-family: 'DM Serif Display', serif;
        font-size: 1em;
    }
    .section_four > div > * {
        padding: 20px 0;
    }
    .sectionFourTitle > h2 {
        line-height: 35px;
        margin-left: 15px;
        font-size: 1.4em;
        width: 60%;
        font-weight: 400;
        font-family: 'DM Serif Display', serif;
    }
    .sectionFourTitle > h2::before {
        left: -14px;
    }
    .newsAndResources {
        border: none;
    }
    img.acheeUnderlayLogo {
        display: none;
    }
    

    .section_five {
        width: 95%;
    }
    .section_five > div {
        width: 100%;
        padding: 50px 10px;
    }

    .section_five h2 {
        font-size: 1.4em;
    }

    .section_five p {
        line-height: 25px;
        font-size: 1em;
        margin: 30px 0 0 0;
    }

    .section_five .emailContainer {
        border-radius: 10px;
        margin: 20px auto 0;
        background: #fff;
        padding: 3px 0;
    }
    .emailContainer > input {
        border: none;
        padding-left: 10px;
        font-size: 1em;
        margin-left: 0;
    }
    .emailContainer > button {
        background: #200E32;
        border-radius: 10px;
        margin-left: 10px;
        flex: 0 0 20%;
        font-size: 1em;
    }
    .emailContainer > button:hover {
        background: #200e32b9;
    }

}

@media screen and (max-width: 600px) {
    .emailContainer {
        width: 100% !important;
    }
    .emailContainer > input {
        border: none;
        padding-left: 10px;
        font-size: .9em;
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .landing > h1 {
        font-size: 1.3em;
    }
    .landing > p {
        line-height: 25px;
    }
}

@media screen and (max-height: 700px) {
    .landing {
        height: 50vh;
    }
    .landing > h1 {
        font-size: 1.1em;
        line-height: 25px;
        margin-top: -20px;
    }
    .landing > p {
        font-size: 1em;
        line-height: 25px;
    }
}