.addPortfolioForm {
    background: #fff;
    width: 80%;
    padding: 25px 65px;
    margin: 0 auto;
}

.addPortfolioForm > div:not(.submitBtn) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.addPortfolioForm > div > *:first-child {
    flex: 0 0 200px;
    font-weight: 500;
}
.addPortfolioForm > div > *:last-child {
    flex: 0 0 70%;
    margin-left: 12px;
}

@media screen and (max-width: 800px) {
    .addPortfolioForm {
        width: 90%;
        padding: 12px 15px;
    }
    .addPortfolioForm > div p {
        font-size: .8em;
    }
    .addPortfolioForm > div > *:first-child {
        flex: 0 0 50px;
        font-weight: 500;
    }
    .addPortfolioForm > div > *:last-child {
        flex: 0 0 60%;
    }
}

@media screen and (max-width: 530px) {
    .addPortfolioForm {
        width: 95%;
        padding: 12px 15px;
    }
    .addPortfolioForm > div > *:first-child {
        flex: 0 0 50px;
        font-weight: 500;
    }
    /* .addPortfolioForm > div > *:last-child {
        justify-content: flex-end;
    } */
}