.asideContainer {
    min-height: 100vh;
    background: var(--main-background-color);
}

.asideContainer > img {
    display: block;
    width: 75%;
    margin: 30px auto 0;
    height: auto;
}

.asideContainer > h2 {
    text-align: center;
    position: relative;
    top: 100px;
    color: #fff;
    font-weight: 500;
    font-family: 'Zilla Slab', serif;
}