/* Alsoe a flex container */
footer {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 80px auto 0;
    padding: 40px 0 70px;
    border-top: 1px dashed rgba(0,0,0,0.3);
}

.copyright {
    flex: 1;
    color: rgba(0,0,0,0.8);
}

.social-links {
    flex: 0 0 100px;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .copyright {
        width: 200px;
        text-align: center
    }
    .social-links {
        flex: 1;
        margin-top: 40px;
    }
    .social-links > * {
        width: 140px;
    }
}