/* A flex container */
.loginWrapper {
    position: relative;
    align-items: center;
    justify-content: center;
}

.loginWrapper > * {
    flex: 1;
}

.loginContainer {
    overflow-y: auto;
    height: 100vh;
    background: #fff;
}

.logo {
    margin-left: 22%;
    width: 65px;
    justify-content: space-between;
}

.logo > p {
    color: #4E4F51;
    font-weight: 700;
}

.formContainer {
    width: 60%;
    margin: 50px auto 0;
}

.formContainer > h2 {
    width: 385px;
    color: #4E4F51;
    font-size: 1.5rem;
    line-height: 35px;
}

/* Flex container */
.oauthButtonsContainer {
    margin-top: 30px;
    width: 385px;
    justify-content: space-between;
}

/* Flex container */
.oauthButton {
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
}

.oauthButton > img {
    display: block;
}

.oauthButton > span {
    margin-left: 7px;
    font-size: 1em;
    width: 100%;
}

.googleBtn {
    background: #FFF2F2;
    color: #E53935;
}

.facebookBtn {
    background: #F2F5FF;
    color: #0030CB;
}

/* A flex container */
.orContainer {
    width: 385px;
    margin-top: 20px;
    justify-content: space-between;

}

.orContainer > .line {
    display: inline-block;
    height: 1px;
    /* background: #D8D8D8; */
    background: #000;
    width: 40%
}

.orContainer > .orText {
    color: #909090;
}

.formContainer form {
    width: 385px;
}

.formContainer form > * {
    width: 100%;
}

.formContainer form label {
    color: #4E4F51;
    line-height: 30px;
    font-weight: 500;
}

.formContainer form .inputContainer {
    margin: 15px 0;
}

.formContainer form .inputGroup {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #D8D8D8;
}

.formContainer form input {
    background: transparent;
    padding: 7px;
    border: 0;
    flex: 1;
    outline: none;
}

/* A flex container */
.formContainer form > button.submitBtn {
    margin-top: 30px;
    width: 100%;
}

.formContainer form .submitBtn {
    background: var(--main-background-color);
    color: #fff;
    border: 0;
    padding: 12px 10px;
    border-radius: 7px;
}

.formContainer form .submitBtn > span {
    font-size: 1rem;
}

.formContainer form .submitBtn > img {
    position: relative;
    left: 30%;
    display: inline-block;
}

.switchToSigninContainer {
    width: 340px;
    margin-top: 20px;
    text-align: center;
    font-size: .7em;
}

.switchToSigninContainer > p {
    margin: 5px 0;
    color: #4E4F51
}

.switchToSigninContainer > button {
    background: transparent;
    padding: 0;
    margin: 0;
    color: var(--main-background-color);
    font-weight: 700;
    border: none;
}

.asideContainer {
    min-height: 100vh;
    background: var(--main-background-color);
}

.asideContainer > img {
    display: block;
    width: 75%;
    margin: 30px auto 0;
    height: auto;
}

.asideContainer > h2 {
    text-align: center;
    margin-top: 50px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', serif;
}