.portfolioContainer {
    background: var(--gray-background-color);
    padding-top: 70px;
}
.portfolioContainer > * {
    width: 90%;
    margin: 0 auto;
}

.searchBox {
    padding: 0px 10px;
    background: #fff;
}
.searchBox > img {
    display: block;
    flex: 0 0 24px;
}
.searchBox > input {
    display: block;
    background: transparent;
    border: none;
    outline: none;
    flex: 0 0 95%;
    margin-left: 20px;
    color: #000;
    height: 70px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.searchBox > input::placeholder {
    color: var(--text-color);
}

.portfolioPerformanceTags {
    margin-top: 40px;
    width: 80%;
}
.tag {
    flex: 1;
    margin-right: 40px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.tag > div:first-child p {
    color: var(--text-color);
}
.tag > div:first-child h1 {
    color: var(--heading-text-color);
    font-weight: 700;
    font-size: 1.7em;
}

.tag > div:last-child {
    /* background: #ffbcd34d; */
    padding: 20px 20px;
    border-radius: 5px;
}
.tag > div:last-child > * {
    display: inline-block;
}
.tag > div:last-child h1 {
    font-size: 1.7em;
    font-weight: 700;
    /* color: #00AC26; */
    margin-left: 10px;
}

.assetList > h1 {
    color: var(--heading-text-color);
    font-size: 1.1em;
    font-weight: 500;
}
.asset {
    background: #fff;
    margin-bottom: 20px;
    padding: 30px;
}
.asset > .title > h1 {
    color: var(--main-background-color);
    font-size: 1.5em;    
}

.tableContainer {
    margin-top: 20px;
    overflow: auto;
}