.portfolioContainer {
    background: var(--gray-background-color);
    padding-top: 70px;
}
.portfolioContainer > * {
    width: 90%;
    margin: 0 auto;
}
@media screen and (max-width: 900px) {
    .portfolioContainer > * {
        width: 95%;
        margin: 0 auto;
    }
}

.searchBox {
    padding: 0px 10px;
    background: #fff;
}
.searchBox > img {
    display: block;
    flex: 0 0 24px;
}
.searchBox > input {
    display: block;
    background: transparent;
    border: none;
    outline: none;
    flex: 0 0 95%;
    margin-left: 20px;
    color: #000;
    height: 70px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.searchBox > input::placeholder {
    color: var(--text-color);
}

.portfolioPerformanceTags {
    margin: 40px auto 0 auto;
    width: 65%;
}

.tag {
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.tag > div:first-child p {
    color: var(--text-color);
    margin: 0 0 10px 0;
    font-size: 0.9em;
}
.tag > div:first-child h1 {
    color: var(--heading-text-color);
    font-weight: 700;
    font-size: 1.4em;
}

.tag > div:last-child {
    margin-left: 10px;
    padding: 15px 20px;
    border-radius: 5px;
}
.tag > div:last-child > * {
    vertical-align: middle;
    display: inline-block;
}
.tag > div:last-child h1 {
    font-size: 1.4em;
    font-weight: 700;
    /* color: #00AC26; */
    margin-left: 10px;
}

/* For the performance tags */
@media screen and (max-width: 1311px) {
    .portfolioPerformanceTags {
        width: 75%;
    }
}
@media screen and (max-width: 1131px) {
    .portfolioPerformanceTags {
        width: 90%;
    }
}
@media screen and (max-width: 1000px) {
    .portfolioPerformanceTags {
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .tag {
        margin-right: 30px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 900px) {
    .portfolioPerformanceTags {
        width: 95% !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .tag {
        padding: 10px;
        margin: 0 15px 15px 0;
    }
    .tag > div:first-child p { 
        color: var(--text-color);
        margin-bottom: 5px;
        font-size: 0.7em;
    }
    .tag > div:first-child h1 {
        color: var(--heading-text-color);
        font-weight: 700;
        font-size: 1.1em;
    }
    
    .tag > div:last-child {
        margin-left: 10px;
        padding: 7px 3px;
    }
    .tag > div:last-child > * {
        display: inline-block;
    }
    .tag > div:last-child h1 {
        font-size: 1.1em;
    }
}

.performanceAnalytics {
    margin-top: 40px;
}
.tabs {
    background: #F6F3FF;
    margin-left: 20px;
    padding: 30px 0 10px 0;
}
.tabs > .tab {
    color: var(--heading-text-color);
    position: relative;
    font-size: 0.9em;
    cursor: pointer;
    margin-right: 10px;
}
.tab > .activeTab {
    position: absolute;
    top: 130%;
    left: 0;
    width: 100%;
    height: 3px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: var(--main-background-color);
}

/* For the tabs */
@media screen and (max-width: 700px) {
    .tabs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: auto 15px;
        margin: 0;
    }
    .tabs > .tab {
        margin: 0;
    }
}
.selectedTabContainer {
    height: auto;
}
.selectedTabContainer p {
    margin: 0;
}
.selectedTabContainer > * {
    width: 100%;
    height: 100%;
    background: #fff;
}
.performanceTab {
    min-height: 500px;
}
/* For the filters in the performance tab */
.filters {
    margin-left: 20px;
    margin-bottom: 20px;
}
.performanceDurationButtons > * {
    display: inline-block;
    margin-right: 30px;
}

.benchmarksTab {
    padding: 30px;
}
/* For the table in the benchmarks tab */
.benchmarksTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px;
}
.benchmarksTable th {
    background: transparent;
    color: var(--text-color);
    font-weight: 400;
}
.benchmarksTable td {
    background: #f8f8f8;
    font-weight: 600;
}

.benchmarksTable th,
.benchmarksTable td {
    width: 12%;
    padding: 15px 5px;
    font-size: 0.9em;
    text-align: center;
}
.benchmarksTable th:first-child,
.benchmarksTable td:first-child {
    text-align: left;
    width: 40%;
    padding-left: 15px;
}

@media screen and (max-width: 900px) {
    .benchmarksTab {
        padding: 15px;
        height: auto;
        overflow: auto;
    }
    .benchmarksTable {
        width: auto;
    }
    .benchmarksTable th,
    .benchmarksTable td {
        width: 12%;
        padding: 5px 5px;
        font-size: 0.8em;
        text-align: center;
    }
    .benchmarksTable th:first-child,
    .benchmarksTable td:first-child {
        text-align: left;
        width: 30%;
        padding-left: 15px;
    }
}
@media screen and (max-width: 650px) {
    .benchmarksTable {
        width: 600px;
    }
}

.assetList > h1 {
    color: var(--heading-text-color);
    font-size: 1.1em;
    font-weight: 500;
    margin: 20px 0 20px 10px;
}
.asset {
    background: #fff;
    margin-bottom: 20px;
    padding: 30px;
}
.asset > .title > h1 {
    color: var(--main-background-color);
    font-size: 1.5em;    
}

.tableContainer {
    margin-top: 20px;
    overflow: auto;
}


