.form > * {
    width: 100%;
}

.form label {
    color: #4E4F51;
    line-height: 30px;
    font-weight: 500;
}

.form .inputContainer {
    margin: 15px 0;
}

.form .inputGroup {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #D8D8D8;
}

.form input {
    background: transparent;
    padding: 7px;
    border: 0;
    flex: 1;
    outline: none;
}

.form .showPasswordBtn {
    background: transparent;
    color: var(--main-background-color);
    border: none;
    font-weight: 700;
}

/* A flex container */
.submitBtn {
    margin-top: 50px;
    width: 100%;
}

.submitBtn {
    background: var(--main-background-color);
    color: #fff;
    border: 0;
    padding: 12px 10px;
    border-radius: 7px;
}

.submitBtn > span {
    font-size: 1rem;
}

.submitBtn > img {
    position: relative;
    left: 30%;
    display: inline-block;
}

@media screen and (max-width: 700px) {
    .submitBtn > img {
        left: 5%;
    }
}